.home-container {
  max-width: 693px;
  margin: 32px auto;
  text-align: center;

  @media only screen and (max-width: 600px) {
    padding: 0 10px;
  }

  h3 {
    padding-bottom: 12px;
  }

  p:last-child {
    padding-top: 12px;
  }
}
