header {
  background-color: #365d81;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    li:not(:first-child) {
      margin: 0 14px;
    }
  }
}

.nav-item .active {
  border-bottom: 2px solid white;
}
